.site-layout-content {
  min-height: 100%-64px;
  padding: 24px;
  margin: 24px;
  background: #fff;
  text-align: center;
}
.logo {
  color: #fff;
}
.ant-tabs-nav-scroll {
  display: flex;
  justify-content: center;
}